@font-face {
  font-family: 'DimerSans';
  src: url('DimerSans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DimerSans';
  src: url('DimerSans-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DimerSans';
  src: url('DimerSans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}